.blogs {
    background-color: $main_color;
    .blogs-box {
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.05);

        h5, a {
            font-weight: bold;
        }

        span, i, p {
            color: #6c757d;
        }
    }
}
