header {
  background-color: $main_color;
  min-height: 650px;

  .hidden {
    opacity:0;
  }

  .console-container {
    display:block;

    #text {
      font-size: 50px;
    }
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  .row {
    padding-top: 100px;

    .greeting {
      font-size: 20px;
      font-weight: bolder;
      margin: 20px 5px 20px 5px;
    }
  }

  .strikethrough {
    width: 100px;
    height: 3px;
    background-color: #f71735;
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
  }

  .job {
    font-weight: bolder;
    font-size: 26px;
  }
}

.shape {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #d7566a;
  background-image: linear-gradient(19deg, #b93345 0%, #e7001c 100%);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  animation: morphing 7s infinite;
  overflow: hidden;
}
.shape:hover {
  animation-play-state: paused;
}
.shape h1 {
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: auto;
}
@-moz-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-o-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
