.testimonials {
    background-color: #001e35;

    img {
        margin-bottom: 130px;
        max-width: 150px;
        max-height: 150px;
        border-radius: 100px;
    }

    button.active {
        background-color: #f71735;
    }
}
